@charset "UTF-8"
/*Regra @ charset caso haja problemas com acentuação */
body{
    background-color: lightgoldenrodyellow;
    color: chocolate;
    font: 12pt;
    font-family: Arial;
}
h1{
    color: brown;
}
p{
    color: brown;
    text-decoration: none;
    text-align: justify;
}